# === Rename .env_example to .env before building the project ===
# === Stripe Payment Gateway ===
STRIPE_PRIVATE_KEY=sk_test_your_stripe_key_here

# === MongoDB  Connection ===
# Replace mongodb+srv://<username>:<password>@<cluster>.mongodb.net/echoDB with "mongodb://modelUser:EchoNetAccess2023@ts-mongodb-cont:27017/EchoNet"
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/echoDB

# === EchoNet service endpoints ===
API_URL=http://ts-api-cont:9000/engine/event
MODEL_SERVER=http://ts-echo-model-cont:8501/v1/models/echo_model/versions/1:predict
WEATHER_SERVER=http://ts-echo-model-cont:8501/v1/models/weather_model/versions/1:predict
MQTT_CLIENT_URL=ts-mqtt-server-cont
MQTT_CLIENT_PORT=1883
MQTT_PUBLISH_URL=projectecho/engine/2
IOT_MQTT_BROKER=broker.hivemq.com
IOT_MQTT_PORT=1883
IOT_MQTT_TOPIC=iot/data/test
DB_HOSTNAME=ts-mongodb-cont

# === Engine local data paths ===
# Use container-safe paths when running in Docker.
AUDIO_DATA_DIRECTORY=/data/b3
CACHE_DIRETORY=/pipeline_cache
GCLOUD_PROJECT=sit-23t1-project-echo-25288b9
BUCKET_NAME=project_echo_bucket_1

# Please go through "Environment Setup & Stripe Integration Guide" uploaded in the Project Echo team files.
